/* Global Styles */
html,
body {
  height: 100%;
  width: 100%;
}

app-menu {
  left: 20px;
  position: fixed;
  top: 20px;
  z-index: 1000;
}

.maps-link {
  cursor: pointer;
}

#map,
.map-container {
  height: 100%;
  width: 100%;
}

.zoom-row {
  background-color: white;
  bottom: 50px;
  border-radius: 5px;
  left: 50px;
  padding: 10px;
  position: fixed;
  width: 490px;
  z-index: 2000;
}

.markers-list {
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 2000;
}

.markers-list li {
  cursor: pointer;
}
