/* Global Styles */
html,
body {
  height: 100%;
  width: 100%;
}

app-menu {
  left: 20px;
  position: fixed;
  top: 20px;
  z-index: 1000;
}

.maps-link {
  cursor: pointer;
}

#map {
  height: 100%;
  width: 100%;
}
